
/*=======================
	
	Customize RTl Styles
	Eng. Mohamed Abo Gabal

=======================*/
.form-horizontal .control-label {
	text-align: right;
}
div.dataTables_filter, div.dataTables_paginate {
    text-align: left;
}

div.dataTables_filter input{
	margin-right: 0.5em;
	margin-left: auto;
}